<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title>My Chat App</title>
</head>

<body style="background-color: #302F31;">
    <div style="text-align: center; margin-top: 0px;">
        <div style="margin-top: -30px; width: 100%; text-align: center;">
            <img style="height: 400px;" src="../static/img/logo.png">
        </div>
        <h1 style="color: #FF9900">Cadastrar</h1>
        <h3>{{ message }}</h3>
        <form method="post" action="/signup">
            <label style="display: inline-block; width: 90px; color: #FF9900">Usuário:</label>
            <input style="width: 200px;" type="text" name="username">
            <br>
            <br>
            <label style="display: inline-block; width: 90px; color: #FF9900">Email:</label>
            <input style="width: 200px; border:2px solid #FF9900; border-radius: 5px; padding:5px;" type="email" name="email">
            <br>
            <br>
            <label style="display: inline-block; width: 90px; color: #FF9900">Senha:</label>
            <input style="width: 200px; border:2px solid #FF9900; border-radius: 5px; padding:5px;" type="password" name="password">
            <br>
            <br>
            <input type="submit" value="Enviar" />
        </form>
        
        <form action="/">
            <input type="submit" value="Voltar" />
        </form>
        
    </div>
    
</body>

</html>