<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
</head>
<body>
    <h1>Sala de Chat ID: {{ room.name }}</h1>

    <button type="button" id="load_older_messages_btn">Load older messages</button>
    <div id="messages">
        {% for message in messages %}
            <div><b>{{ message.sender }}&nbsp;[{{ message.created_at }}]:&nbsp;</b>{{ message.text }}</div>
        {% endfor %}
    </div>
    
    <form id="message_input_form">
        <input type="text" id="message_input" placeholder="Escreva sua mensagem aqui">
        <button type="submit">Enviar</button>
        <button id="leave_button">Sair</button>
    </form>

    <ul>
        {% for member in room_members %}
            <li>{{ member._id.username }}</li>
        {% endfor %}
    </ul>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
<script type="text/javascript" charset="utf-8">
    const socket = io.connect("http://127.0.0.1:5000");

    socket.on('connect', function(){
        socket.emit('join_room', {
            username: "{{ username }}",
            room: "{{ room._id }}"
        })

        let message_input = document.getElementById('message_input');

        document.getElementById('message_input_form').onsubmit = function (e) {
            e.preventDefault();
            let message = message_input.value.trim();
            if (message.length){
                socket.emit('send_message', { // event
                    username: "{{ username }}1",
                    room: "{{ room._id }}",
                    message: message
                })
            }
            message_input.value = '';
            message_input.focus();
        }   
    });
    
let page = 0

    document.getElementById("load_older_messages_btn").onclick = (e) => {
        page += 1;
        fetch("/rooms/{{ room._id }}/messages?page=" + page,{
            method: 'GET',
            headers: {
                'Content-Type' : 'application/json'
            }
        }).then(response => {
            response.json().then(messages => {
                messages.reverse().forEach(message => prepend_message(message.text, message.sender, message.created_at));
            })
        })
    };

    function prepend_message(message, username, created_at){
        const newNode = document.createElement('div');
        newNode.innerHTML = `<b>${username}:&nbsp;[${created_at}]:&nbsp;</b> ${message}`;
        const messages_div = document.getElementById('messages');
        messages_div.insertBefore(newNode, messages_div.firstChild);
    }

    window.onbeforeunload = function() {
        socket.emit('leave_room', {
            username: "{{ username }}",
            room: "{{ room._id }}"
        })
    };

    socket.on('disconnect', function(){
        socket.emit('leave_room',{
            username:'{{ username }}',
            room: "{{ login }}"
        });
    });

    socket.on('receive_message', function(data) {
        console.log(data);
        const newNode = document.createElement('div');
        newNode.innerHTML = `<b>${data.username}:&nbsp;[${data.created_at}]:&nbsp;</b> ${data.message}`;
        document.getElementById('messages').appendChild(newNode);
    });

    socket.on('leave_room_announcement', function(data){
        console.log(data);
        const newNode = document.createElement('div');
        newNode.innerHTML = `<b>${data.username}</b> has left the room.`;
        document.getElementById('messages').appendChild(newNode);
    });

    socket.on('join_room_announcement', function(data){
        console.log(data);
        const newNode = document.createElement('div');
        newNode.innerHTML = `<b>${data.username}</b> as joined the room.`;
        document.getElementById('messages').appendChild(newNode);
    });



</script>
</html>