<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Chat App</title>
</head>

<body>
    <h1>Login</h1>
    <h3>{{ message }}</h3>
    <form method="post" action="/signup">
        <label>Usuário:</label>
        <input type="text" name="username">
        <br>
        <label>Email:</label>
        <input type="email" name="email">
        <br>
        <label>Senha:</label>
        <input type="password" name="password">
        <br>
        <button type="submit">Enviar</button>
    </form>
    
    <a href="/">Voltar</a>
    
</body>

</html>