<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <title>Chat App</title>
</head>
<body style="background-color: #302F31; height: 100%; width: 100%;">
    <div class="row">
        <div class="col-sm-11">
            <h1 style="margin-left: 10px; color: #FF9900; width: 100%;">Sala de Chat ID: {{ room.room_name }}</h1>
        </div>
        <div class="col-sm-1" style="margin-top: 15px;">
            <button type="button" style="background-color: #FF9900; border: none;" class="btn btn-primary btn-lg">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-door-open" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1 15.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zM11.5 2H11V1h.5A1.5 1.5 0 0 1 13 2.5V15h-1V2.5a.5.5 0 0 0-.5-.5z"/>
                    <path fill-rule="evenodd" d="M10.828.122A.5.5 0 0 1 11 .5V15h-1V1.077l-6 .857V15H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117z"/>
                    <path d="M8 9c0 .552.224 1 .5 1s.5-.448.5-1-.224-1-.5-1-.5.448-.5 1z"/>
                </svg>
                <a style="color: white;" href="/">Exit</a>
            </button>
        </div>         
    </div>
    

    <!-- <button type="button" id="load_older_messages_btn">Load older messages</button> -->
    <div class=" container col-sm-10" style=" position: absolute; overflow:auto; height: 620px; top: 70px; margin-left: 15px; border: 2px solid orange; border-radius: 5px; width: 89%;" >
        <div style=" color: white;" id="messages">
            {% for message in messages %}
            <div>
                <b style="color: #FF9900;">{{ message.sender }}&nbsp;[{{ message.created_at }}]:&nbsp;</b>
                {{ message.text }}
            </div>
        {% endfor %}
        </div>
    </div>

    <div class="col-sm-1" style=" position: absolute; margin-left: 1300px; height: 620px; border: 2px solid#FF9900; border-radius: 5px;">
        <ul>
            {% for member in room_members %}
                <li style="color:#FF9900; margin-left: 0px;">{{ member._id.username }}</li>
            {% endfor %}
        </ul>
    </div>
    
    <div style="position: absolute; bottom: 0; width: 100%;">
        <form id="message_input_form">
            <input style=" width: 90%; margin-left: 10px; border:2px solid #FF9900; border-radius: 5px; padding:5px;" type="text" id="message_input" placeholder="Escreva sua mensagem aqui">
            <button type="submit" style="width: 8%; background-color: #FF9900; border: none;" class="btn btn-primary"> Enviar </button>
        </form>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
<script type="text/javascript" charset="utf-8">
    const socket = io.connect("http://127.0.0.1:5000");

    socket.on('connect', function(){
        socket.emit('join_room', {
            username: "{{ username }}",
            room: "{{ room._id }}"
        })

        let message_input = document.getElementById('message_input');

        document.getElementById('message_input_form').onsubmit = function (e) {
            e.preventDefault();
            let message = message_input.value.trim();
            if (message.length){
                socket.emit('send_message', { // event
                    username: "{{ username }}1",
                    room: "{{ room._id }}",
                    message: message
                })
            }
            message_input.value = '';
            message_input.focus();
        }   
    }); 

    window.onbeforeunload = function() {
        socket.emit('leave_room', {
            username: "{{ username }}",
            room: "{{ room._id }}"
        });
    };

    socket.on('disconnect', function(){
        socket.emit('leave_room',{
            username:'{{ username }}',
            room: "{{ login }}"
        });
    });

    socket.on('receive_message', function(data) {
        console.log(data);
        const newNode = document.createElement('div');
        newNode.innerHTML = `<b>${data.username}:&nbsp;[${data.created_at}]:&nbsp;</b> ${data.message}`;
        document.getElementById('messages').appendChild(newNode);
    });

    socket.on('leave_room_announcement', function(data){
        console.log(data);
        const newNode = document.createElement('div');
        newNode.innerHTML = `<b>${data.username}</b> has left the room.`;
        document.getElementById('messages').appendChild(newNode);
    });

    socket.on('join_room_announcement', function(data){
        console.log(data);
        const newNode = document.createElement('div');
        newNode.innerHTML = `<b>${data.username}</b> as joined the room.`;
        document.getElementById('messages').appendChild(newNode);
    });

</script>
</html>